<ul class="nav navbar-nav">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <li><a class="navbar-brand" href="index.html">Home</a></li>
    <li><a class="navbar-brand" href="equipment.html">Equipment & Setup</a></li>
    <li><a class="navbar-brand" href="howto.html">Howto Brew</a></li>
    <li><a class="navbar-brand" href="ingredients.html">Ingredients</a></li>
    <li><a class="navbar-brand" href="recipes.html">Recipes</a></li>
    <li><a class="navbar-brand" href="history.html">Beer History</a></li>
    <li><a class="navbar-brand" href="resources.html">Resources</a></li>
    <li><a class="navbar-brand" href="about.html">About</a></li>
</ul>